<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>gymproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>register.signup.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>register.signup.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>register.signup.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerSignupServlet</display-name>
    <servlet-name>TrainerSignupServlet</servlet-name>
    <servlet-class>register.signup.TrainerSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerSignupServlet</servlet-name>
    <url-pattern>/TrainerSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendTransactionEmail</display-name>
    <servlet-name>SendTransactionEmail</servlet-name>
    <servlet-class>register.signup.SendTransactionEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendTransactionEmail</servlet-name>
    <url-pattern>/SendTransactionEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>register.signup.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTrainer</display-name>
    <servlet-name>DeleteTrainer</servlet-name>
    <servlet-class>register.signup.DeleteTrainer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTrainer</servlet-name>
    <url-pattern>/DeleteTrainer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>register.signup.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>register.signup.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>register.signup.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>register.signup.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>register.signup.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FreeClassServlet</display-name>
    <servlet-name>FreeClassServlet</servlet-name>
    <servlet-class>register.signup.FreeClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeClassServlet</servlet-name>
    <url-pattern>/free-classes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFreeClass</display-name>
    <servlet-name>DeleteFreeClass</servlet-name>
    <servlet-class>register.signup.DeleteFreeClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFreeClass</servlet-name>
    <url-pattern>/deleteFreeClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutProfile</display-name>
    <servlet-name>LogoutProfile</servlet-name>
    <servlet-class>register.signup.LogoutProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutProfile</servlet-name>
    <url-pattern>/logoutProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>register.signup.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>register.signup.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentEmailServlet</display-name>
    <servlet-name>PaymentEmailServlet</servlet-name>
    <servlet-class>register.signup.PaymentEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentEmailServlet</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembershipServlet</display-name>
    <servlet-name>MembershipServlet</servlet-name>
    <servlet-class>register.signup.MembershipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembershipServlet</servlet-name>
    <url-pattern>/update-membership</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayMembership</display-name>
    <servlet-name>DisplayMembership</servlet-name>
    <servlet-class>register.signup.DisplayMembership</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMembership</servlet-name>
    <url-pattern>/display-memberships</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemsPaymentEmail</display-name>
    <servlet-name>MemsPaymentEmail</servlet-name>
    <servlet-class>register.signup.MemsPaymentEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemsPaymentEmail</servlet-name>
    <url-pattern>/mems-payment-email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalReportServlet</display-name>
    <servlet-name>FinalReportServlet</servlet-name>
    <servlet-class>register.signup.FinalReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalReportServlet</servlet-name>
    <url-pattern>/SalesDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductStockAlertServlet</display-name>
    <servlet-name>ProductStockAlertServlet</servlet-name>
    <servlet-class>register.signup.ProductStockAlertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductStockAlertServlet</servlet-name>
    <url-pattern>/ProductStockAlertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>register.signup.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productsList</url-pattern>
  </servlet-mapping>
</web-app>